

/* Start:/local/templates/elektro_flat/components/bitrix/sale.personal.order.detail/.default/style.css?15070631738628*/
/***ORDER_DETAIL***/
.cart-items .equipment-order.detail .thead .cart-item-number-date,
.cart-items .equipment-order.detail .thead .cart-item-status,
.cart-items .equipment-order.detail .thead .cart-item-payment,
.cart-items .equipment-order.detail .thead .cart-item-payed,
.cart-items .equipment-order.detail .thead .cart-item-summa{
	height:31px;
	display:table-cell;
	vertical-align:middle;
	margin:0px;
	padding:0px;
	color:#575b71;	
}

.cart-items .equipment-order.detail .thead .cart-item-number-date{
	width:149px;
	padding:0px 0px 0px 15px;
}

.cart-items .equipment-order.detail .thead .cart-item-status{
	width:102px;
}

.cart-items .equipment-order.detail .thead .cart-item-payment{
	width:116px;
}

.cart-items .equipment-order.detail .thead .cart-item-payed{
	width:78px;
}

.cart-items .equipment-order.detail .thead .cart-item-summa{
	width:auto;
	padding:0px 13px 0px 0px;
	text-align:right;
}

.cart-items .equipment-order.detail .tbody .tr_into{
	table-layout:fixed;
}

.cart-items .equipment-order.detail .tbody .cart-item-number-date,
.cart-items .equipment-order.detail .tbody .cart-item-status,
.cart-items .equipment-order.detail .tbody .cart-item-payment,
.cart-items .equipment-order.detail .tbody .cart-item-payed,
.cart-items .equipment-order.detail .tbody .cart-item-summa{
	display:table-cell;
	vertical-align:top;
	padding:12px 5px 12px 0px;	
}

.cart-items .equipment-order.detail .tbody .cart-item-number-date{
	width:144px;
	padding:12px 5px 12px 13px;
}

.cart-items .equipment-order.detail .tbody .cart-item-number{
	width:auto;
	display:block;
	padding:0px;
	color:#000;
}

.cart-items .equipment-order.detail .tbody .cart-item-status{
	width:97px;
}

.cart-items .equipment-order.detail .tbody .cart-item-status span.item-status-n,
.cart-items .equipment-order.detail .tbody .cart-item-status span.item-status-p{
	font-weight:700;
	color:#cc9900;
}

.cart-items .equipment-order.detail .tbody .cart-item-status span.item-status-f{
	font-weight:700;
	color:#688123;
}

.cart-items .equipment-order.detail .tbody .cart-item-status span.item-status-d{
	font-weight:700;
	color:#ce0f0f;
}	

.cart-items .equipment-order.detail .tbody .cart-item-payment{
	width:111px;
}

.cart-items .equipment-order.detail .tbody .cart-item-payment a{
	font-weight:700;
	color:#575b71;
	text-decoration:underline;
}

.cart-items .equipment-order.detail .tbody .cart-item-payment a:hover{
	text-decoration:none;
}

.cart-items .equipment-order.detail .tbody .cart-item-payed{
	width:73px;
}

.cart-items .equipment-order.detail .tbody .cart-item-payed span.item-payed-yes{
	font-weight:700;
	color:#688123;
}

.cart-items .equipment-order.detail .tbody .cart-item-summa{
	width:auto;
	padding:12px 11px 12px 0px;	
	text-align:right;
}

.cart-items .equipment-order.detail .tbody .cart-item-summa  .sum{
	font-size:14px;
	font-weight:700;	
}

/***BASKET LIST***/
.cart-items .equipment-order .tbody .cart-item-name a{
	color:#575b71;	
}

.cart-items .equipment-order .tbody .cart-item-name a:hover{
	color:#cc9900;	
}

/***ORDER_PROPERTIES***/
table.order-recipient{
	width:100%;
	margin:10px 0px 0px 0px;
	padding:0px;
	border:none;
	border-collapse:collapse;
}

table.order-recipient td{	
	padding:3px;
	vertical-align:middle;
}

table.order-recipient td.field-name{
	font-weight:700;
	text-align:right;
	width:160px;
}

table.order-recipient td.field-value{}


/***ORDER_ACTIONS***/
.order-item-actions{
	width:100%;
	margin:14px 0px 0px 0px;
	padding:0px;
}

.order-item-actions a{
	width:183px;
	height:27px;
	float:left;
	margin:0px;
	padding:0px;
}

.order-item-actions a.order_delete{
	margin:0px 0px 0px 5px;
}

.order-item-actions a i{
	margin:0px;
	padding:0px 7px 0px 0px;
}

/***240px***/
@media screen and (max-width:787px){
	.cart-items .equipment-order.detail .thead{
		height:45px;
		display:none;
		visibility:hidden;
		padding:0px 14px 0px 15px;
	}	

	.cart-items .equipment-order.detail .thead .cart-item-number-date{
		width:105px;
		padding:0px 12px 0px 0px;
	}

	.cart-items .equipment-order.detail .thead .cart-item-status{
		width:79px;
		padding:0px 12px 0px 0px;
	}

	.cart-items .equipment-order.detail .thead .cart-item-payment{
		width:76px;
	}

	.cart-items .equipment-order.detail .thead .cart-item-payed{
		width:62px;
	}

	.cart-items .equipment-order.detail .thead .cart-item-summa{
		width:auto;
		padding:0px;
	}

	.cart-items .equipment-order.detail .tbody .tr_into{		
		padding:4px 12px 4px 13px;
	}
	
	.cart-items .equipment-order.detail .tbody .cart-item-number-date,
	.cart-items .equipment-order.detail .tbody .cart-item-status,
	.cart-items .equipment-order.detail .tbody .cart-item-payment,
	.cart-items .equipment-order.detail .tbody .cart-item-summa{
		width:auto;
		display:block;
		padding:0px;
	}	

	.cart-items .equipment-order.detail .tbody .cart-item-number-date{
		float:left;
	}

	.cart-items .equipment-order.detail .tbody .cart-item-number{
		float:left;
		visibility:visible;
		margin:0px 20px 0px 0px;		
	}

	.cart-items .equipment-order.detail .tbody .cart-item-status{
		clear:both;
	}	

	.cart-items .equipment-order.detail .tbody .cart-item-payed{
		width:50px;
		display:none;
		visibility:hidden;
		padding:0px 12px 0px 0px;
	}

	.cart-items .equipment-order.detail .tbody .cart-item-summa{
		visibility:visible;
		text-align:left;
	}

	@media (min-width:480px) and (max-width:787px){
		.cart-items .equipment-order.detail .thead{
			display:table;
			visibility:visible;
		}
		
		.cart-items .equipment-order.detail .tbody .cart-item-number-date,
		.cart-items .equipment-order.detail .tbody .cart-item-status,
		.cart-items .equipment-order.detail .tbody .cart-item-payment,
		.cart-items .equipment-order.detail .tbody .cart-item-payed,
		.cart-items .equipment-order.detail .tbody .cart-item-summa{
			display:table-cell;
		}		

		.cart-items .equipment-order.detail .tbody .cart-item-number-date{
			width:105px;
			float:none;
			padding:0px 12px 0px 0px;
		}

		.cart-items .equipment-order.detail .tbody .cart-item-number{			
			float:none;
			margin:0px;			
		}

		.cart-items .equipment-order.detail .tbody .cart-item-status{
			width:79px;
			padding:0px 12px 0px 0px;
		}

		.cart-items .equipment-order.detail .tbody .cart-item-payment{
			width:76px;
		}

		.cart-items .equipment-order.detail .tbody .cart-item-payed{
			visibility:visible;
		}

		.cart-items .equipment-order.detail .tbody .cart-item-summa{
			width:auto;
			text-align:right;
		}
	}	
	
	/***BASKET LIST***/
	.cart-items.basket .equipment-order.basket .thead{
		padding:0px 8px 0px 15px;
	}

	.cart-items.basket .equipment-order.basket .thead .cart-item-summa{
		display:none;
		visibility:hidden;
	}

	.cart-items.basket .equipment-order.basket .tbody .tr_into{
		padding:4px 6px 4px 9px;
	}

	.cart-items.basket .equipment-order.basket .tbody .cart-item-number,
	.cart-items.basket .equipment-order.basket .tbody .cart-item-image,
	.cart-items.basket .equipment-order.basket .tbody .cart-item-summa{
		display:none;
		visibility:hidden;
	}

	@media (min-width:480px) and (max-width:787px){
		.cart-items.basket .equipment-order.basket .thead{
			padding:0px 14px 0px 15px;
		}

		.cart-items.basket .equipment-order.basket .thead .cart-item-summa{
			display:table-cell;
			visibility:visible;
		}

		.cart-items.basket .equipment-order.basket .tbody .tr_into{
			padding:4px 12px 4px 11px;
		}

		.cart-items.basket .equipment-order.basket .tbody .cart-item-number,
		.cart-items.basket .equipment-order.basket .tbody .cart-item-image,
		.cart-items.basket .equipment-order.basket .tbody .cart-item-summa{
			display:table-cell;
			visibility:visible;
		}		
	}

	table.order-recipient td.field-name{
		padding:3px 3px 3px 13px;
	}

	table.order-recipient td.field-value{
		padding:3px 14px 3px 3px;
	}

	@media screen and (max-width:479px){
		table.order-recipient td{
			display:block;			
		}

		table.order-recipient td.field-name{
			width:auto;
			padding:0px 0px 0px 6px;			
			text-align:left;
		}

		table.order-recipient td.field-value{
			padding:0px 0px 6px 6px;
		}
	}

	.order-item-actions{
		margin:11px 0px 0px 0px;
	}

	.order-item-actions a{
		width:27px;
	}

	.order-item-actions a i{
		padding:0px;
	}

	.order-item-actions a span{
		display:none;
		visibility:hidden;
	}
}
/* End */
/* /local/templates/elektro_flat/components/bitrix/sale.personal.order.detail/.default/style.css?15070631738628 */
