.bx-core-dialog-overlay{
    background:rgba(87, 91, 113, 0.4) !important;;
}

/*.group_id_2,.group_id_8,.group_id_9{
    background-color: #afd8d3;
    border: 8px solid #afd8d3;
    border-radius: 8px;
}    */
.property.delivery_type{
    display: none;
}

.terminal img{
    margin-top: 3px;
}
.terminal > div{
    float: left;
    margin-left: 11px;
}
.selivery_select{
    float: left;
    margin-left: 110px;
    margin-top: 10px;
}
.wrap_nds input{
    display: block;
    float: left;
    margin-right: 8px;
}
.agreement{
    position: relative;
    display: none;
}
.agreement:after{
    content: '';
    width: 100%;
    height: 30px;
    display: block;
    position: absolute;
    top: 0;
}
textarea::-webkit-input-placeholder {
    opacity: 0.5;
}

span.sof-req {
    color:#d93333;
}
.stock,
.terminals{

    display: none;
}
.order-info_in .terminal p{
    float: left;
    margin-left: 10px;
}
.terminal .iamage{
    width: 150px;
    text-align: center;
    float: left;
    height: 40px;
}
body #map{
    width: 400px;
    height: 400px;
}
.popap_map{
    width: 400px;
    height: 400px;
    display: none;
    position: fixed;
    top: 50%;
    margin-top: -200px;
    padding: 10px;
    margin-left: -200px;
    background-color: #fff;
    z-index: 20;
    left: 50%;
}
.popap_map .close{
    float: right;
    font-size: 16px;
    padding: 3px 8px 5px 8px;
    background-color: #0c9a88;
    color: #fff;
    border-radius: 20px;
    line-height: 1;
    cursor: pointer;
    top: -30px;
    position: relative;
    left: 30px;
}
.pack_wrap{
    width: 780px;
    float: left;
    clear: both;
    margin-left: 110px;
    margin-top: 20px;
}
.organization{
    display: none;
}
.order-info_in > .stock_delivery{
    clear: both;   
    padding-bottom: 10px;
}
.order-info_in > .stock_delivery .terminal{
    font-weight: bold;
}
.order-info_in > .stock_delivery b{
    clear: both;
    display: block;
    margin-left: 100px;
    position: relative;
    top: -8px;
}
.pickup.stock_delivery b{
    clear: both;
    display: block;
    margin-left: 65px;
    position: relative;
    top: -8px;
}
.order-info_in > .stock_delivery table{
    display: none;
    margin-left: 90px;
}
.stock_delivery .selivery_select .label{
    float: left;
}
.stock_delivery .selivery_select > .block{
    float: left;
    margin-left: 20px;
}

.stock_delivery .selivery_select > p{
    margin-left: 130px;
    width: 660px;
}
.order-info .stock_delivery .selivery_select > select,
.stock_delivery .selivery_select > span,
.stock_delivery .selivery_select > a
{
    margin-left: 190px;
    max-width: 590px;
}
.order-info_in > table{
    width: 936px;
    display: block;
}
input[type='text']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    opacity: 0.5;
}
.order-info_in > .stock_delivery .image_1 input{
    float: left;
}
.order-info_in > .stock_delivery .image_1 img{
    padding: 0 20px;
}
.order-info_in .star{
    color: red;
    position: relative;
    top: 0;
}
.order-info_in .location-block-wrapper{
    clear: both;
    float: left;
    margin-top: 10px;
}
.order-info_in .block label{
    margin-left: 200px;
    clear: both;
}
.order-info_in .block > p{
    margin-left: 30px;
    clear: both;
}
.stock_delivery > td{
    height: 70px;
}
.stock_delivery .star {
    top: -6px;
}
#order_form_content .stock_delivery .terminal_vs > input{
    margin-left: 205px;
}
.stock_delivery .terminal > div > p{
    margin-left: 160px; 
}
.cart-items .delivery_text{
    float: left;
    margin-right: 100px; 
}
body .cart-items .tbody .tr.wrap{
    padding: 10px; 
}
body .cart-items .tbody .tr.wrap .cart-item-price{
    width: 160px; 
}
.transport_service{
    display: none;
}